<%= form_with(model: subscription) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :user_id %>
  <%= form.select :user_id, options_from_collection_for_select(User.all, :id, :name, subscription.user_id), include_blank: true %>

  <%= form.label :plan_id %>
  <%= form.select :plan_id, options_from_collection_for_select(Plan.all, :id, :name, subscription.plan_id), include_blank: true %>

  <%= form.label :start_on %>
  <%= form.date_field :start_on %>

  <%= form.label :end_on %>
  <%= form.date_field :end_on %>

  <%= form.label :renew_on %>
  <%= form.date_field :renew_on %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
