<!DOCTYPE html>
<html>
  <head>
    <title>TechnicalInterview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p>
      <%= link_to User.model_name.human, users_path %> |
      <%= link_to Subscription.model_name.human, subscriptions_path %> |
      <%= link_to Payment.model_name.human, payments_path %> |
      <%= link_to Article.model_name.human, articles_path %>
    </p>
    <%= yield %>
  </body>
</html>
